.hero {
     height: 100vh;
     width: 100vw;
     background: transparent
          linear-gradient(
               127deg,
               #7e82f3 0%,
               #3d41e1 22%,
               var(--gradient-end) 100%
          )
          0% 0% no-repeat padding-box;
}
